*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.head{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
}
.head2{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
    background: #fff;
}
.head3{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 2;
}
.head_1{
    width: 100%;
    max-width: 1920px;
    min-width: 1500px;
}

.sub1{
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: -1;
    filter: brightness(80%);
    background-color: black;
}
.sub1 iframe {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 56.25vw; /* 9 / 16 */

    min-width: 177.77vh;
    min-height: 100vh;

    transform: translate(-50%, -50%);
    pointer-events: none; 
}

.main1{
    width: 100%;
    display: flex;

}
.main1_1{
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
.main1_2{
    width: 50%;
}

.left_1{
    width: 90%;
    max-width: 481px;
    object-fit: contain;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.right_1{
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: #efeff0;
}
.right_2{
    width: 100%;
    display: flex;
    justify-content: left;
    background-color: #fff;
}

.right1_1{
    width: 90%;
    object-fit: contain;
    max-width: 854px;
}






.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1a1918;
}
.footer_1{
    width: 100%;
    max-width: 1920px;
}